fpga/**/.recovery
fpga/**/.setting.ini
fpga/**/.run_manager.ini
fpga/**/*.xml
fpga/**/*.html
fpga/**/*.dir
fpga/**/impl*
project/*
!project/**/*.ldf
!project/**/*.lpf
!project/**/*.sty
!project/**/*.v
