BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 PULLMODE=UP ;
LOCATE COMP "leds[0]" SITE "97" ;
LOCATE COMP "leds[1]" SITE "98" ;
LOCATE COMP "leds[2]" SITE "99" ;
LOCATE COMP "leds[3]" SITE "100" ;
LOCATE COMP "leds[4]" SITE "104" ;
LOCATE COMP "leds[5]" SITE "105" ;
LOCATE COMP "leds[6]" SITE "106" ;
LOCATE COMP "leds[7]" SITE "107" ;
LOCATE COMP "resetn_pin" SITE "84" ;
FREQUENCY NET "clock" 133.000000 MHz ;
USE PRIMARY NET "clock" ;
